.App {
  color: black;
  background-color: white;
  margin-top: 30px;
}

.App .markets li {
  margin: 5px 3px;
  border: 1px solid maroon;
  padding-right: 3px;
  list-style: none;
}

.App .events li {
  padding: 3px 0;
  border: 1px solid navy;
}
